

* {
    margin: 0; 
    padding: 0;
}

body, html {
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $colour-dark-blue;
    font-family: $font-base;
}

//Text higlight
::selection {
    background-color: $colour-light-blue;
}

//Header
header.top {
    padding: 2%;
    background-color: $colour-ice-white;
}

.platform-name {
   font-size: 35px; 
   font-family: $font-header;
   cursor: pointer;
}

