//Fonts

$font-header: 'Yusei Magic', sans-serif;
$font-base: 'Open Sans', sans-serif;

//Colours
$colour-dark-blue: rgb(29, 41, 81);
$colour-ice-white: aliceblue;
$colour-light-blue: lightblue;
$colour-font-grey: #4d4c54;