//Menu 

.head__nav {
    text-align: center;
    align-self: center;
    width: 100%;

    &--item {
        position: inline-block;
        min-height: 15px;
        padding:  1rem;
        margin: 1.3rem 2rem;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(29, 41, 81);

        &:hover {
            color: rgba(152, 152, 152, 0.714);
            padding: auto;
        }
    }
}

ul li {
    list-style: none;
    display: inline-block;
    align-items: center;
}

