//footer

.footer {
    padding: 1.3px;
    font-size: 1em;
    background-color: rgba(54, 72, 134, 0.561);
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .fa {
    padding: 0.5em;
    width: 1.125em;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
     
    &-linkedin, 
    &-instagram, 
    &-twitter {
      color:black;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
        color: aliceblue;
      }
      @include respond(tab-land) {
        padding: 4px;
        font-size: 19px;
        bottom: auto;
      }
      @include respond(phone) {
        padding: 0px;
        margin: 8px;
        font-size: 10px;
        bottom: auto;
      }
      @include respond(phone-landscape) {
        padding: 0px;
        font-size: 16px;
        bottom: auto;
      }
    } 
  }
