//Geolocation page 

.geowrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid:
    'geo-box geo-map';

    gap: 3%;
    padding: 1%;
    margin: 2%;
    height: auto;
    overflow: hidden;
    @include respond(phone) {
        gap: 2%;
        padding: 1%;
        margin: 2%;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        }
}

.geo {
    &-box {
        grid-column: 1 / 1;
        @include respond(phone) {
            grid-column: 1 / 1;
            grid-row: 1 / 2;
        }
    }
    &-map {
       grid-column: 1 / 2;
       background-color: $colour-ice-white; 
       height: 60vh;
       width: 45vw;
       border-radius: 40px;
       box-shadow: 2px 2px;
       box-sizing: border-box;
       @include respond(phone) {
           grid-row: 1 / 2;
           height: 40vh;
           width: 95vw;
           grid-column: 1 / 1;
        }
    }
    &-frontpage {
        grid-column: 2 / 2;
        background-color: $colour-ice-white; 
        height: 60vh;
        width: 45vw;
        border-radius: 40px;
        box-shadow: 2px 2px;
        box-sizing: border-box;
        @include respond(phone) {
            grid-row: 2 / 2;
            height: 40vh;
            width: 95vw;
            grid-column: 1 / 1;
         }
     }
}

.myGiving-title {
    padding: 1%;
    margin: 1%;
    color: $colour-ice-white;
}  
.geoDetails {
    padding: 3%;
    font-size: 25px;
    color: $colour-font-grey;

    &--more {
        position: relative;
        margin-left: 4.5em;
       
    }
}

.map-frontpage {
    padding: 4%;
    margin: 2%;
    font-size: 25px;
    color: $colour-font-grey;

    &--title {
        align-items: center;
        margin-left: 4.5em;
    }
    &--subtitle {
        font-size: 15px;
        font-style: italic;
        margin-left: 9.3em;
    }
    &--ul {
        font-size: 20px;
    }
    &--li {
        font-size: 18px;
    }
}


