//home styling

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: 18% 60% 18%;
    grid:
    'home--top'
    'home--myGiving home--mySupport home--myKnowledge'
    'home--bottom';

    gap: 4%;
    padding: 1%;
    margin: 2%;
    height: auto;
    overflow: hidden;
    @include respond(tab-land) {
        align-items: center;
        gap: 2%;
        padding: .8%;
        margin: 1%;
      }
    @include respond(phone) {
        align-items: center;
        grid-template-rows: 25% 50% 25%;
        grid:
        'home--top'
        'home--myGiving'
        'home--mySupport' 
        'home--myKnowledge'
        'home--bottom';

        grid-gap: 3%;
        padding: 1%;
        margin: 1%;
        }
  }

.home {
    &--myGiving,
    &--mySupport,
    &--myKnowledge {
        border-radius: 40px;
        box-shadow: 2px 2px;
        height: 200px;
        cursor: pointer;
        background-color: #79BEEE;
        padding: 40px;
        font-size: 40px;
        margin-left: 4em;
        @include respond(tab-land) {
            margin-left: auto;
            font-size: 1.8rem;
            height: 180px;
          }
        @include respond(phone) {
            height: 70px;
            margin-left: auto;
            padding: auto;
            box-shadow: 2px 2px;
            }
        &-title {
            text-decoration: none;
        }
    }
    &--top {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        height: 140px;
        @include respond(tab-land) {
            height: 20px;
          }
          @include respond(phone) {
            height: 20px;
  
            }
        }
    &--myGiving {
        grid-column: 1 / 2;
        grid-row: 2 / 3;  
        
        @include respond(phone) {
            grid-column: 2 / 3;
            grid-row: 2 / 1 ;
            }
        }
    &--mySupport {
        grid-column: 2 / 3;
        grid-row: 2 / 2;
         }
    &--myKnowledge {
        grid-column: 3 / 3;
        grid-row: 2 / 3;
        @include respond(phone) {
            grid-column: 2 / 3;
            grid-row: 4 / 4;

            }
        }
    &--bottom {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
        height: 100px;
        @include respond(tab-land) {
            height: 70px;
          }
          @include respond(tab-port) {
            height: 20px;
        }
        @include respond(phone) {
            height: 60px;
            grid-row: 5 / 5;
            }
    }
}

