//Menu 

.head__nav {
    text-align: center;
    align-self: center;
    width: 100%;

    &--item, &-login {
        position: inline-block;
        min-height: 15px;
        padding:  1rem;
        margin: 1.3rem 2rem;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(29, 41, 81);
        &-login {
            display: none;
            text-transform: uppercase;
            @include respond(phone) {
                display: block;
                margin: 0;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                overflow-x: hidden;
                transition: 0.5s;
                height: 12vh;
                padding: 2rem 0 0;
                text-decoration: none;
            }
            &:hover {
                color: rgba(135, 134, 134, 0.652);
                padding: auto;
            }
        }
        @include respond(tab-land) {
            font-size: .8rem;
            letter-spacing: .2rem;
            padding:  1rem;
            margin: 1.5rem;
            overflow-x: hidden;
            transition: 0.5s;
            }
        @include respond(tab-port) {
            letter-spacing: .2rem;
            padding: 1rem;
            margin: 0;
            font-weight: bold;
            display: block;
            overflow: auto;
            float: none;
            right: auto;
            width: 100%;
            text-align: center;
            overflow-x: hidden;
            transition: 0.5s;
            font-size: 2.3rem;
            }
        @include respond(phone) {
            display: block;
            margin: 0;
            padding: 2rem 0 0;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            overflow-x: hidden;
            transition: 0.5s;
            height: 12vh;
            } 
        &:hover {
            color: rgba(135, 134, 134, 0.652);
            padding: auto;
        }
    }
}

ul li {
    list-style: none;
    display: inline-block;
    align-items: center;
    @include respond(tab-port) {
        display: block;
        text-aligne: center;
    }
    @include respond(phone) {
        display: block;
        text-aligne: center;
    }
}

.toggle {
    display: none;
    @include respond(phone) {
        display: block;
        cursor: pointer;
        text-aligne: center;
    }
}