//MENU

.nav {
    text-align: center;
    align-self: center;
    width: 100%;


    &--item {
        position: inline-block;
        min-height: 15px;
        padding:  1.8rem 1.8rem;
        margin: 1.5rem 2.2rem;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;

    }
}