//LoginForm

.LoginForm {
    align-items: center;
}
.flex {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;

    &--Formwraper {
    display: inline-block;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 1% 44%;
    margin: 3% 1%;
    color: white;
    font-family: inherit;
    overflow: hidden;
 }  
}

.input {
    align-content: center;
    position: relative; 
    margin: 10%;

    &--email,
    &--password {
        font-size: 20px;
    }
}



.btnSubmit{
    width: 100%;
    padding: 3%;
    margin: 1%;
    background-color: #f3b3bb;
    opacity: 0.6;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 12px;
    border: none;
    font-family: inherit;
    font-size: 16px;
}

